:root {
  --light: #fbfbfb;
  --accent: #e0ff4fff; /*chartreuse*/
  --highlight: #ff2eccff; /*razzle dazzle rose*/
  --danger: #ff6663ff; /*bittersweet*/
  --subdued: #a51080ff; /*fandango*/
  --dark: #00272bff; /*gunmetal*/
}

body {
  overflow: hidden;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tb-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tb-start-btn {
  position: relative;
  z-index: 1;
}

/* Transitions */
.tb-swipe-in-init {
  transform: translateY(-100%);
}

.tb-swipe-in {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  transform: translateY(0%);
}

.tb-swipe-out {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  transform: translateY(100%);
}
